@import url("./List/styles.css");
@import url("./List_Media_Queries/styles.css");
@import url("./Edit/style.css");
@import url("./Edit_Media_Queries/styles.css");

*{
    padding: 0;
    margin: 0;
}
body
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
body h1
{
    text-align: center;
    font-family: 'Roboto';
}
.main-wrapper
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    

}

