@media (max-width: 1024px) {
    
    main
    {
        width: 75%;
    }
    .trainee
    {
        width: 100%;
    }
    
 }
 @media (max-width: 768px)
 {
     .container
     {
         padding: 40px 10px;
     }
     main
    {
        padding: 40px 30px 80px;
    }
     .trainee .trainee-name 
    {
     font-size: 15px;
    }
    .edit-nav .edit
    {
     font-size: 15px;
    }
 }
 @media (max-width: 568px)
 {
     main
    {
        width: 95%;
    }
     .trainee .trainee-name 
    {
     font-size: 13px;
    }
    .edit-nav .edit
    {
     font-size: 13px;
    }
 }
 @media (max-width: 368px)
 {
     main
    {
        width: 100%;
    }
     .trainee .trainee-name 
    {
     font-size: 13px;
     overflow:hidden;
     display:inline-block;
     text-overflow: ellipsis;
     white-space: nowrap;
     width: 80px;
    }
    .edit-nav .edit
    {
     font-size: 13px;
    }
 }